@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
}

.bg-purple {
  background-color: #6f42c1;
}

// Search section

.search-select {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
  &.form-control {
    border: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f1f3fa;
    -webkit-box-shadow: none;
    box-shadow: none;
    &.bg-brighter {
      background-color: #e8e9f9;
    }
  }
}
.search-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: #727cf5;
  border-color: #727cf5;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #727cf5;
  border-color: #727cf5;
  outline: none;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, 0.8);
}

.btn-primary:hover {
  color: #fff;
  background-color: #727cf5;
  border-color: #727cf5;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, 0.8);
}

.btn-secondary {
  color: #727cf5;
  background-color: transparent;
  border-color: #727cf5;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, 0.5);
}

.btn-secondary:hover {
  color: #7a72f5;
  background-color: transparent;
  border-color: #727cf5;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle {
  color: #7a72f5;
  background-color: transparent;
  border-color: #727cf5;
  outline: none;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: #c69500;
  outline: none;
  box-shadow: none;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: none;
}

thead {
  background: #727cf5;
  color: white;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, 0.5);
}

.table tr:first-child {
  th,
  td {
    border: none;
  }
}

.table thead th,
.table td {
  vertical-align: middle;
}

.table thead a:hover,
.table thead a {
  color: #fff;
}

.login-section {
  min-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

.react-datepicker-wrapper {
  width: 100%;
}

textarea.form-control {
  border: 1px solid #727cf5;
  height: 100%;
  overflow: auto;
  resize: none;
}

.flex-none {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -o-flex: 0 0 auto;
}

.last-update-status {
  font-size: 12px;
  span {
    line-height: 1;
  }
  .last-update-label {
    color: #727cf5;
    font-weight: bold;
  }
}

.autocomplete-clear {
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
  z-index: 2;
  visibility: hidden;
  background: transparent;
  border: 0;
  outline: none;
  border: none;
  pointer-events: none;
  svg {
    fill: rgb(206, 212, 218);
  }
  &:focus,
  &:active,
  &:hover,
  &:active:focus {
    outline: none;
    border: none;
  }

  &.active {
    visibility: visible;
    pointer-events: all;
    cursor: pointer;
  }
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

.dropdown-item.active,
.dropdown-item:active {
  background: none;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
}

/************ Checklist starts here ************/

.checkbox-list-title {
  font-family: "AvenirNext", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}

.form-check-label {
  font-family: "AvenirNext", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.span_pseudo,
.form-check .form-check-span:before,
.form-check .form-check-span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.form-check {
  position: relative;
  // height: 2rem;
}

.form-check.disabled input,
.form-check.disabled .form-check-span {
  color: #666666;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 0.7;
}

.form-check.disabled .form-check-label {
  color: #666666;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 0.7;
}

.form-check input {
  display: none;
}

.form-check input:checked ~ .form-check-span {
  background-color: #727cf5;
}

.form-check input:checked ~ .form-check-span:before {
  width: 13px;
  height: 2.5px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.form-check input:checked ~ .form-check-span:after {
  width: 7px;
  height: 2.5px;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.form-check input:disabled ~ .form-check-span {
  background: #ececec;
  border-color: #dcdcdc;
}

.form-check input:disabled ~ label:not(.form-check-span) {
  color: #dcdcdc;
}

.form-check input:disabled ~ label:not(.form-check-span):hover {
  cursor: default;
}

.form-check-label {
  cursor: pointer;
  // height: 24px;
  margin-bottom: 0;
  /* padding-left: 16px; */
  left: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 100%;
}

.form-check input:checked ~ .form-check-span {
  border: none;
  height: 20px;
  width: 20px;
}

.form-check .form-check-span {
  border: 2px solid #ccc;
  box-sizing: content-box;
  display: inline-block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s;
  width: 16px;
  z-index: 1;
  cursor: pointer;
  margin-bottom: 0;
}

.form-check .form-check-span:before {
  -ms-transform: rotate(-55deg);
  -o-transform: rotate(-55deg);
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  top: 15px;
  left: 8px;
}

.form-check .form-check-span:after {
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  bottom: 7px;
  left: 5px;
}

.form-check + .form-check {
  margin-top: 10px;
}

/************ Checklist ends here ************/
